.task-container{

    width: 517px;
    height: 83px;
    border-radius: 10px;

    background-color:white;

    .description-container{

        .description{
            font-size: 20px;
            width: 401px;

        }
    }
}