<div class="list-container">

    <div class="header">

        <div class="date">

            <p class="day">{{getCurrDateByType('day')}}</p>

            <div class="rest-date">
                <p class="month">{{getCurrDateByType('month')}}</p>
                <p class="year">{{getCurrDateByType('year')}}</p>
            </div>

        </div>

        <p class="day-of-week">{{getCurrDateByType('dayOfWeek')}}</p>

    </div>

    <div class="line"></div>

    <div class="task-list">

        <app-task-item
        *ngFor="let task of taskList"
        [description]="task.description"
        ></app-task-item>
    </div>

    <div class="add-task-container">
        <div class="add-task-button"></div>
    </div>

</div>