/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: poppins;
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-bold;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}

html{
    background-color: rgba(240, 239, 233, 1);
    font-family: poppins;
}